{% from "macros/fields.html" import render_number_field %}

{% extends "layout.html" %}

{% block main_content %}

   <div class="container">
    <form action="" method="post">
        {% for order in orders %}
        <div class="product-div">
            <div class="row">
                <div class="col-6">Order_id: {{ order["_id"] }}</div>
                <div class="col-6">Order_time: {{ order["order_time"] }}</div>                
            </div>
            {% for product in order["items"] %}
            <div class="row order_area">
                <div class="col-3">
                    <img class="w-20 h-20" src="{{ url_for('static', filename = 'img/product_img/'+ product['img_src'] ) }}"alt="">
                </div>
                <div class="col-9">
                    <div class="row">
                        <a href="{{ url_for('pages.product_detail', _id = product['product_id']) }}">{{ product['product_name'] | truncate(100) }}</a>
                    </div>
                    <div class="row">
                        Quantity: {{ product['quantity'] }}
                    </div>
                    <div class="row">
                        Price per one item: {{ product['price'] }} đ
                    </div>
                    <div class="row">
                        Value for this product: {{ product['total_value'] }} đ
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        Total order value: {{ order["value"] }} đ
        <hr>
        {% endfor %}
    </form>
    <script>
    </script>
   </div>

{% endblock %}