{% from "macros/seller_fields.html" import render_text_field, render_select_field %}
{% extends "seller_layout.html" %}

{% block main_content %}

    <form name="login" method="post" enctype="multipart/form-data" novalidate class="form">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {%- for category, message in messages %}
                <span class="form__flash form__flash--{{category}}"> {{ message }}</span>
            {% endfor %}
        {% endwith %}
        
        <div style="width: 70%; margin-top: 3rem" class="container">
            {{ th_form.hidden_tag() }}

            {{ render_text_field(th_form.product_name, "product_name") }}
            {{ render_select_field(th_form.cate_report, "cate") }}
            {{ render_select_field(th_form.sub_cate_report, "sub_cate") }}
            {{ render_text_field(th_form.brand, "brand") }}
            {{ render_text_field(th_form.price, "price") }}
            {{ render_text_field(th_form.stocks, "stocks") }}

            {% if product_info.get("img_srcs") %}
            <div class="product_avatar" style="max-width: 100%; max-height: 10rem; margin-bottom: 1rem; display: flex;">
                {% for image_link in product_info.get("img_srcs") %}
                <a href="{{ url_for('pages.seller_delete_product_img', img_src = image_link, _id = product_info['_id']) }}"><img style="max-height: 10rem;" src="{{ url_for('static', filename = 'img/product_img/'+image_link) }}" alt="{{image_link}}"></a>
                {% endfor %}
            </div>
            {% endif %}

            {{ render_text_field(th_form.img_file, "img_file") }}
            {{ render_text_field(th_form.listed, "listed") }}
            <label for="desc" class="form-label">Description</label>
            <textarea name="description" id="desc" cols="30" rows="10">
                {{ product_info["description"] | safe}}
            </textarea>
    
            <div>
                {{ th_form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
        });
    </script>

{% endblock %}